node_modules
.next
out
build
dist

.env
.env.local
.env.*.local

prisma/dev.db
prisma/dev.db-journal
prisma/migrations/dev.db*

.DS_Store
*.log
.vscode
.idea
next-env.d.ts

# clerk configuration (can include secrets)
/.clerk/
